<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Treto</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-white text-black flex flex-col justify-center items-center h-screen">
        <main class="max-w-prose mx-auto flex flex-col gap-4">
            <h1 class="font-black text-7xl">treto.dev</h1>
            <h2 class="font-black text-4xl">Association Treto</h2>
            <p>
                Nous sommes une association à but non lucratif (loi 1901) créée en 2024.
            </p>

            <h2 class="font-black text-4xl">Mission</h2>
            <p>Écrire du code qui fait du bien.</p>

            <h2 class="font-black text-4xl">Équipe</h2>
            <section class="flex gap-12">
                <article>
                    <h3 class="font-bold text-2xl">Lucie</h3>
                    <small>développeuse</small>

                    <ul class="list-disc pl-4 mt-4">
                        <li><a class="underline" href="https://github.com/luzzzi" target="_blank" rel="noreferrer">GitHub</a></li></li>
                        <li><a class="underline" href="https://www.linkedin.com/in/laportelucie/" target="_blank" rel="noreferrer">Linkedin</a></li>
                    </ul>
                </article>
                <article>
                    <h3 class="font-bold text-2xl">Fabien</h3>
                    <small>développeur</small>

                    <ul class="list-disc pl-4 mt-4">
                        <li><a class="underline" href="https://fabien.cool" target="_blank" rel="noreferrer">Site web</a></li></li>
                        <li><a class="underline" href="https://github.com/fabienheureux" target="_blank" rel="noreferrer">GitHub</a></li></li>
                        <li><a class="underline" href="https://www.linkedin.com/in/fabien-le-frapper/" target="_blank" rel="noreferrer">Linkedin</a></li>
                    </ul>
                </article>
            </section>
        </main>
    </body>
</html>
