<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Treto</title>
        <meta name="description" content="Lucie et Fabien écrivent du code qui fait du bien.">
        <link rel="stylesheet" href="{{ get_url(path='styles.css') }}">
        <style
    </head>
    <body class="bg-white text-black flex flex-col justify-center items-center min-h-screen py-12">
        <style>
          @keyframes rainbow {
              0% { color: red; }
              10% { color: orange; }
              20% { color: yellow; }
              30% { color: lime; }
              40% { color: green; }
              50% { color: cyan; }
              60% { color: blue; }
              70% { color: indigo; }
              80% { color: violet; }
              90% { color: magenta; }
              100% { color: red; }
          }
        </style>
        <main class="max-w-prose mx-auto flex flex-col gap-4 px-4">
            <h1 class="font-black text-7xl hover:animate-[rainbow_2s_linear_infinite] hover:cursor-not-allowed">treto.dev</h1>
            <h2 class="font-black text-4xl">Association Treto</h2>
            <p>
                Nous sommes une association à but non lucratif (loi 1901) créée en 2024.
            </p>

            <h2 class="font-black text-4xl">Mission</h2>
            <p>Écrire du code qui fait du bien.</p>

            <h2 class="font-black text-4xl">Équipe</h2>
            <section class="flex gap-12">
                <article>
                    <h3 class="font-bold text-2xl">Lucie</h3>
                    <small>développeuse</small>

                    <ul class="list-disc pl-4 mt-4">
                        <li><a class="underline" href="https://github.com/luzzzi" target="_blank" rel="noreferrer">GitHub</a></li></li>
                        <li><a class="underline" href="https://www.linkedin.com/in/laportelucie/" target="_blank" rel="noreferrer">Linkedin</a></li>
                    </ul>
                </article>
                <article>
                    <h3 class="font-bold text-2xl">Fabien</h3>
                    <small>développeur</small>

                    <ul class="list-disc pl-6 mt-4">
                        <li><a class="underline" href="https://fabien.cool" target="_blank" rel="noreferrer">Site web</a></li></li>
                        <li><a class="underline" href="https://github.com/fabienheureux" target="_blank" rel="noreferrer">GitHub</a></li></li>
                        <li><a class="underline" href="https://www.linkedin.com/in/fabien-le-frapper/" target="_blank" rel="noreferrer">Linkedin</a></li>
                    </ul>
                </article>
            </section>

            <h2 class="font-black text-4xl">Projets</h2>
            <p>Ci-dessous quelques expériences récentes (ou pas), à deux ou en solo :</p>
            <ul class="list-disc pl-6">
                <li><a class="underline" href="https://terredeliens.org" rel="noreferrer" target="_blank">Terre de Liens</a> — Refonte, conception technique, développement</li>
                <li><a class="underline" href="https://asso.wwoof.fr" rel="noreferrer" target="_blank">WWOOF</a> — Refonte</li>
                <li><a class="underline" href="https://wwoof.fr/fr/" rel="noreferrer" target="_blank">FoWo</a> — Développement frontend</li>
                <li><a class="underline" href="https://longuevieauxobjets.ademe.fr" rel="noreferrer" target="_blank">Longue Vie Aux Objets</a> — Développement fullstack</li>
                <li><a class="underline" href="https://rsf.org" rel="noreferrer" target="_blank">Reporters Sans Frontières</a> — Assistance à la maîtrise d'ouvrage</li>
                <li><a class="underline" href="https://www.auray-quiberon.fr" rel="noreferrer" target="_blank">Auray-Quiberon Terre Atlantique</a> — Assistance à la maîtrise d'ouvrage</li>
                <li><a class="underline" href="https://terredeliens.org" rel="noreferrer" target="_blank">Culture Green</a> — Conception technique et développement</li>
                <li><a class="underline" href="https://cliquercestpolluer.fr" rel="noreferrer" target="_blank">Cliquer c'est polluer</a> — Conception technique et développement</li>
            </ul>
            <small>Note : certaines de ces expériences datent d'avant la création de Treto mais reflètent malgré tout le champ des compétences recouvert par Lucie et Fabien.</small>
            <hr>
        </main>
        <footer class="pt-4 flex gap-8">
            <a class="underline" href="https://github.com/treto-dev/asso/blob/main/STATUTS.md" rel="noreferrer" target="_blank">Statuts</a>
            <a class="underline" href="https://annuaire-entreprises.data.gouv.fr/entreprise/treto-935123810" target="_blank" rel="noreferrer">Annuaire entreprise</a>
        </footer>
    </body>
</html>
